body{
/* Body affects the element in question (property:Value;)*/
background-color:lightblue ;
font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

nav ul:hover{
    font-size: large;
    font-weight: bold;
    transform: skewY(10deg);
    padding: 100px;
    margin: 20px; 
}

h1{
    color: #6e6e6b;
    text-decoration: underline;
}

h2{
    background-color: #f0fc03;
}

h3 {
border: 1px dashed #101852; 
}


header {
    background-color: #7f03fc;
}

p{
    color: #f1f2bf;
}

#aboutus{
    background-color: aquamarine;
    
}
.imp-para{
    text-transform: uppercase;
}

/* While tired, you realized that the class and id tags have to be called in their unique call formatting 
id  #id-name
.classname 
Don't forgoet your squiggly brackets {} 
element(in this case) p:nth-child(#){ CSS Change } */

p:nth-child(2) {
    background-color: aliceblue;
}

section ul li:nth-child(odd){
    background-color: chocolate;
}

